{% load url from future %}
<script>

$(function() {
    
    $("#auto_tag_panel").omeroweb_center_plugin({
        plugin_index: {{ forloop.counter }},        // since we're in a Django template loop
        empty_on_sel_change: false,                 // Do not completely erase content when changing selection
        load_plugin_content: function(selected, dtype, oid){

            // this may have been called before datatree was initialised...
            var datatree = $.jstree._focused();
            if (!datatree) return;
        
            // we use the tree to access selected objects, since we can traverse to check parents etc...
            var tree_selected = datatree.data.ui.selected;

            //TODO if nothing selected, simply update selection
            // var sel_objs = $("body").data("selected_objects.ome");
            // if (sel_objs.length == 0) {
            //     if (force_update === true) {
            //         $("div#content_details").empty();
            //         $("div#content_details").removeAttr('rel');
            //     }
            //     return;
            // }

            // TODO Multiple selection
            // if (selected.length > 1) {
            //     //TODO if any non-images are selected, clear the centre panel
            //     if (selected.filter('li:not([id|=image])').length > 0) {
            //         $("div#content_details").empty();
            //         $("div#content_details").removeAttr('rel');
            //         return;
            //     }
            // }

            // handle single object (or multi-image) selection...
            // These are not used as the list of ids and the type are passed into this function
            // var oid = selected.attr('id');                              // E.g. 'dataset-501'
            // var orel = selected.attr('rel').replace("-locked", "");     // E.g. 'dataset'

            var standby = function() {
                // Display waiting message
                $("div#auto_tag_panel").html('<p class="loading_center">Loading... please wait. <img src ="{% static "webgateway/img/spinner_big.gif" %}"/></p>');
            };

            var standby_then_load = function(datatype, id) {
                standby();
                // Set datatype attribute
                $("div#auto_tag_panel").attr('rel', datatype + '-' + id);

                // Get and load actual contents
                auto_tag_url = '{% url 'webtagging_index' %}auto_tag/' + datatype + '/'+id+'/';
                $("div#auto_tag_panel").load(auto_tag_url);
            };

            var check_same = function(datatype, id) {
                // Check if this data is already being displayed
                var crel = $("div#auto_tag_panel").attr('rel');
                if (crel !== undefined && crel.length > 0 ) {
                    if (crel === datatype + '-' + id) {
                        return true;
                    }
                }
                return false;
            };

            // TODO Make this whole section less clumsy and unreadable. Some refactoring
            var auto_tag_url;
            if (dtype=="image") {
                var pr = tree_selected.parent().parent();
                if (pr.length>0) {
                    if (datatree._get_type(pr) === 'dataset') {
                        var parentId = pr.attr('id').split("-")[1];
                        if (check_same('dataset', parentId)) {
                            //TODO Change selection
                            return;
                        }

                        standby_then_load('dataset', parentId);

                    } else if (datatree._get_type(pr) === 'orphaned') {
                        var exp = pr.parent().parent();
                        if (exp.length>0) {
                            var experimenterId = exp.attr('id').split("-")[1];
                            if (check_same('orphaned', experimenterId)) {
                                //TODO Change selection
                                return;
                            }

                            standby_then_load('orphaned', experimenterId);
                        }
                    } else if (datatree._get_type(pr) === 'tag') {
                        var tagId = pr.attr('id').split("-")[1];
                        if (check_same('tag', tagId)) {
                            //TODO Change selection
                            return;
                        }

                        standby_then_load('tag', tagId)

                    } else {
                        return;
                    }
                } else {
                    return;
                }

            } else if (dtype=="dataset") {
                // Check if this dataset is already being displayed
                // If so, selecting dataset itself equates to no images selected
                if (check_same('dataset', oid)) {
                    //TODO Change selection to none
                    return;
                }

                standby_then_load('dataset', oid);
            } else if (dtype == "orphaned") {

                // Get the experimenter that we want orphaned images for
                var exp = tree_selected.parent().parent();
                if (exp.length>0) {
                    console.log(pr);
                    var experimenterId = exp.attr('id').split("-")[1];

                    if (check_same('orphaned', experimenterId)) {
                        //TODO Change selection
                        return;
                    }

                    standby_then_load('orphaned', experimenterId);
                }
            } else if (dtype=="tag") {
                // Check if this tag is already being displayed
                // If so, selecting tag itself equates to no images selected
                if (check_same('tag', oid)) {
                    //TODO Change selection to none
                    return;
                }

                standby_then_load('tag', oid);
            } else {
                return;
            }

        },
        supported_obj_types: ['dataset', 'image', 'orphaned', 'tag']
    });
});

</script>
