<!-- Loaded into a form when the tag chooser dialog is shown -->
<div class="standard_form">

    <h1>Available Tags:</h1>

    <select id="tag_chooser_select" class="existing" name="tags" size="6">
        <option></option>   <!-- empty option allows user to unselect -->
    {% for t in tags %}
        <option value="{{ t.id }}" data-desc="{{ t.desc }}" data-owner="{{ t.owner }}">{{ t.name }}</option>
    {% endfor %}
    </select>

    <h1>OR Create a new tag:</h1>

    <label>Tag Name:</label>
    <input id="tag_chooser_new" type="text" name="tag_name" size="36" />

    <label>Description:</label>
    <textarea id="tag_chooser_new_desc" rows="3" cols="31" name="tag_description"></textarea>

</div>
