<thead>
    <tr>
        {% for header in table_data.headers %}
            {% if header.is_token_header %}
                <th class="{{ header.token.tokentype }}Tokens" data-tokenname="{{ header.token.value }}">
                    <div class="token">{{ header.token.value }}</div>

                    <div class="tag">
                        <span style="position: relative;">

                            <a class="tag_inner{% if not header.is_enabled %} tagInactive{% else %} tooltip{% endif %}">{% if header.is_enabled %}{{ header.single_tag.getValue }}{% else %}&nbsp;{% endif %}</a>

                            <span class="showTag dropdown-toggle" data-toggle="dropdown" style="display:none">X</span>

                            <ul class="dropdown-menu" role="menu">

                                {% for tag in header.token.tags %}
                                    <li><a class="tag-select" data-tagname="{{ tag.getValue }}" data-tagid="{{ tag.getId }}" data-tagdesc="{{ tag.getDescription }}" data-tagowner="{{ tag.getOwnerFullName }}">{{ tag.getValue }}({{ tag.getId }})</a></li>
                                {% endfor %}

                                <li><a class="tag-select tag-select-none"> (Select None) </a></li>
                                <li class="divider"></li>
                                <li><a class="token-map">New/Existing Tag</a></li>
                            </ul>

                             {% if header.is_enabled %}
                                <span class="tooltip_html" style="display: none;">
                                    <b>ID:</b> {{ header.single_tag.getId }}<br>
                                    <b>Description:</b> {{ header.single_tag.getDescription }}<br>
                                    <b>Owner:</b> {{ header.single_tag.getOwnerFullName }}
                                </span>
                            {% endif %}

                        </span>

                        <input class="imagechecked-all" type="checkbox"{% if not header.is_enabled %} disabled{% endif %}{% if header.is_checked %} checked{% endif %}/>
                    </div>

                    {# Input field representing current token->tag mapping #}
                    {% if header.is_enabled %}
                        <input class="tag-selector" name="tag-selector" type="hidden" value="{{ header.token.value }}_{{ header.single_tag.getId }}"/>
                    {% endif %}

                </th>

            {# Unmapped tags section here #}
            {% elif header.is_tag_header %}
                <th class="unmatchedTag" data-tagname="{{ header.tag.getValue }}">
                    <div class="tag">
                        <span style="position: relative;">
                            <a class="tag_inner tag_unmatched tooltip">{{ header.tag.getValue }}</a>

                            <span class="tooltip_html" style="display: none;">
                                <b>ID:</b> {{ header.tag.getId }}<br>
                                <b>Description:</b> {{ header.tag.getDescription }}<br>
                                <b>Owner:</b> {{ header.tag.getOwnerFullName }}
                            </span>

                        </span>
                        <input class="imagechecked-all" type="checkbox" {% if header.is_checked %} checked{% endif %}/>
                    </div>
                </th>
            {% endif %}
        {% endfor %}



        {# Image name column #}
        <th>Original Import Path</th>
    </tr>
</thead>

<tbody>
    {% for row in table_data.get_rows %}
        <tr id="image_{{ row.get_id }}" data-imageid="{{ row.get_id }}">


            {% for cell in row.get_cells %}

                {% if cell.is_token_cell %}
                    {# Display special case background color for server applied tokens #}
                    <td class="{{ cell.token.tokentype }}Tokens token_{{ cell.token.css_value }}{% if cell.is_tagged %} success{% endif %}">

                        {# Only if this row is annotateable are inputs added #}
                        {% if row.can_annotate %}
                            <input class="imagechecked" name="imagechecked" value="token_{{ row.get_id }}_{{ cell.token.value }}" type="checkbox"{% if cell.is_checked %} checked{% endif %}{% if not cell.is_enabled %} disabled{% endif %}/>

                            {# Create a hidden field to indicate that for the current mapping, this image is tagged server side#}
                            {% if cell.is_tagged %}
                                <input class="serverselected" name="serverselected" type="hidden" value="token_{{ row.get_id }}_{{ cell.token.value }}"/>

                            {% endif %}
                        {% endif %}

                    </td>

                {# Unmapped tags section here #}
                {% elif  cell.is_tag_cell %}

                    {# Display special case background color for server applied tokens #}
                    <td class="unmatchedTag tag_{{ cell.tag.getId }}{% if cell.is_tagged %} success{% endif %}">

                        {# Only if this row is annotateable are inputs added #}
                        {% if row.can_annotate %}
                            <input class="imagechecked" name="imagechecked" value="tag_{{ row.get_id }}_{{ cell.tag.getId }}" type="checkbox"{% if cell.is_checked %} checked{% endif %}/>

                            {# Create a hidden field to indicate that for the current mapping, this image is tagged server side #}
                            {% if cell.is_tagged %}
                                <input class="serverselected" name="serverselected" type="hidden" value="tag_{{ row.get_id }}_{{ cell.tag.getId }}"/>
                            {% endif %}
                        {% endif %}

                    </td>

                {% endif %}

            {% endfor %}


            {# Image name column #}
            <td>
                {{ row.get_client_path }} ({{ row.get_id }})
            </td>

        </tr>
    {% endfor %}
</tbody>





 