{% load url from future %}
<html>

<link rel="stylesheet" type="text/css" href="{% static 'autotag/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'autotag/css/webtagging.css' %}" />

<!--<script>window.jQuery || document.write('<script src="/static/3rdparty/jquery-1.11.1.js"><\/script><script src="{% static "webclient/javascript/jquery.form-3.51.js" %}"><\/script>')</script>-->
<!-- Diagnostics -->
<script>window.jQuery || document.write('<script src="/static/3rdparty/jquery-1.11.1.js"><\/script><script src="{% static "webclient/javascript/jquery.form-3.51.js" %}"><\/script><script src="{% static "3rdparty/jquery-ui-1.10.4/js/jquery-ui-1.10.4.min.js" %}"><\/script>')</script>
<head>
    <link rel="stylesheet" href="{% static "webgateway/css/reset.css" %}" type="text/css" />   
    <link rel="stylesheet" href="{% static "webgateway/css/ome.body.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "webclient/css/dusty.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "webgateway/css/ome.header.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "webclient/css/layout.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "3rdparty/jquery-ui-1.10.4/themes/base/jquery.ui.base.css" %}" type="text/css" />
</head>
<!-- End Diagnostics -->

<link rel="stylesheet" href="{% static "autotag/3rd-party/chosen/chosen.css" %}" type="text/css" media="screen"/>
<script src="{% static 'autotag/3rd-party/bootstrap/bootstrap.js' %}"></script>
<script src="{% static "autotag/3rd-party/chosen/chosen.jquery.js" %}"></script>
<script src="{% static 'autotag/js/show_tags_dialog.js' %}"></script>
<script src="{% static 'autotag/js/table_operations.js' %}"></script>
<!-- In various places I could rely only on an HTML5 data- field, but testing shows that jQuery selection based on data field is much slower than class based (especially on IE)-->

<script>
$(function(){

    // Parse state object
    imageStates = {{ imageStates|safe }}

    var $refreshButton = $("#updateAllForm #refreshForm");
    var $submitButton = $("#updateAllForm input[type='submit']");


    // Refresh the entire auto-tagger with some potential options
    $("#updateAllForm").on("click", "#refreshForm", function(event){

        // Get options
        var ignoreFirstFileToken = $('#ignoreFirstFileToken').prop('checked');
        var ignoreLastFileToken = $('#ignoreLastFileToken').prop('checked');

        // Get the list of images
        var imageIds = [];
        var $rows = $('#token-table > tbody > tr');
        $rows.each(function(i, v){
            imageIds.push($(v).data('imageid'));
        });

        // This uses the dataset selected and save as 'rel'
        // Not blindly using the current tree selection which
        // could be an image or dataset
        var crel = $("div#auto_tag_panel").attr('rel');
        var crelSplit = crel.split("-");
        var datatype = crelSplit[0];
        var oid = crelSplit[1];

        var params = "";
        var first = true;
        if (ignoreFirstFileToken || ignoreLastFileToken) {
            params += "?";
            if (ignoreFirstFileToken) {
                params += "ignoreFirstFileToken=True";
                first = false;
            }
            if (ignoreLastFileToken) {
                if (!first) {
                    params += "&";
                }
                params += "ignoreLastFileToken=True";
                first = false;
            }
        }

        var auto_tag_url = "{% url 'webtagging_index' %}auto_tag/" + datatype + "/"+oid+'/' + params;

        $("#auto_tag_panel").load(auto_tag_url);
    });
    

    // Form Submission
    $("#updateAllForm").ajaxForm({
        beforeSubmit: function() {
            // prevent submitting the form again while waiting
            $submitButton.attr('disabled', true);
        },
        dataType: "json",
        success: function(data) {
            // For each update, find the cell and update it's selected status
            for (var i in data.additions) {
                var imageId = data.additions[i][0];
                var tagId = data.additions[i][1];
                var tokenName = data.additions[i][2];

                // If tokenName is null then this is an unmatched tag, not a
                // token
                if (tokenName == null) {
                    $td = $('tr#image_' + imageId + ' .tag_' + tagId);
                    $td.addClass('success');
                    $td.append('<input class="serverselected" name="serverselected" type="hidden" value="tag_' + imageId + '_' + tagId + '"/>');
                } else {
                    $td = $('tr#image_' + imageId + ' .token_' + tokenName.replace( /(:|\.|\[|\]|,|;)/g , "\\$1" ).replace(/ /g, "_"));
                    $td.addClass('success');
                    $td.append('<input class="serverselected" name="serverselected" type="hidden" value="token_' + imageId + '_' + tokenName + '"/>');

                    // Update imageStates (only for token updates, not tag updates)
                    var image = imageStates[imageId];
                    var token = image.tokens[tokenName];
                    var tags = [];
                    if (token.tags) {
                        tags = token.tags;
                    }
                    tags.push(tagId);
                    token.tags = tags;
                }
            }

            for (var i in data.removals) {
                var imageId = data.removals[i][0];
                var tagId = data.removals[i][1];
                var tokenName = data.removals[i][2];

                if (tokenName == null) {
                    $td = $('tr#image_' + imageId + ' .tag_' + tagId);
                    $td.removeClass('success');
                    $td.children('.serverselected').remove();
                } else {
                    $td = $('tr#image_' + imageId + ' .token_' + tokenName.replace(/(:|\.|\[|\]|,|;)/g, "\\$1" ).replace(/ /g, "_"));
                    $td.removeClass('success');
                    $td.children('.serverselected').remove();

                    // Get the tags from state and update
                    var image = imageStates[imageId];
                    var token = image.tokens[tokenName];
                    var tags = token.tags;

                    // Update imageStates (only for token updates, not tag updates)
                    // Check the list of tags for a match
                    if ( tags ) {
                        $.each(tags, function(k,v){
                            if (v == tagId) {
                                tags.splice(k,1);
                                return false;
                            }
                        });
                    }

                }
   
            }

            // Determine if any of the currently selected images was modified
            // as this necessitates an update of the right-hand panel.

            // this may have been called before datatree was initialised...
            var datatree = $.jstree._focused();
            if (datatree) {
                // we use the tree to access selected objects, since we can traverse to check parents etc...
                var selected = datatree.data.ui.selected;

                // For each selection, ensure it is an image
                selected.filter( "li[id|=image]" ).each(function(k,v) {
                    var s = $(v).attr('id').split("-")[1];
                    for (var i in data.additions) {
                        var imageId = data.additions[i][0];
                        if (imageId == s) {
                            // Trigger the right-panel update
                            $("body").trigger("selection_change.ome");
                            return;
                        }
                    }
                    for (var i in data.removals) {
                        var imageId = data.removals[i][0];
                        if (imageId == s) {
                            // Trigger the right-panel update
                            $("body").trigger("selection_change.ome");
                            return;
                        }
                    }
                });
            }

            $submitButton.removeAttr('disabled');
        }
    });

    // Example how to use tags dialog
    // OME.show_tags_dialog(
    //     "{% url 'webtagging_list_tags' %}",
    //     function(tags){
    //         console.log(tags);
    //     },
    //     {'new_tag_default':"MyNewTag"}
    // );

    // Add/Map Tag Dialog
    $("#updateAllForm").on("click", "a.token-map", function(event){
        var $th = $(this).parents("th");
        var tokenName = $th.data("tokenname");
        var currentTagIds = [];
        // Compile a list of current tag names. These are removed from the list
        // of potential candidates in the add/map dialog. This does not include
        // tags which are in the unmatched_tags. If an unmatched tag is selected
        // in the mapping then the unmatched tag column must be.
        var currentTagNames = [];
        $('.tag-select:not(.tag-select-none)').each(function(k,v) {
            currentTagIds.push($(v).data('tagid'));
            // It is necessary to convert this 'tagname' data to string as it
            // is possible for it to be a number which toLowerCase can not
            // deal with
            currentTagNames.push($(v).data('tagname').toString().toLowerCase());
        });

        OME.show_tags_dialog({
            list_tags: "{% url 'webtagging_list_tags' %}",
            current_tag_ids: currentTagIds,
            current_tag_names: currentTagNames,
            create_tag: "{% url 'webtagging_create_tag' %}",
            success: function(tags){
                var tag = tags[0];
                
                // Make list of images
                imageList = [];
                for ( var imageId in imageStates ) {
                    // Ensure the key is an actual property, not part of the prototype
                    if (imageStates.hasOwnProperty(imageId)) {
                        imageList.push(imageId);
                    }
                }

                //TODO For efficiency only call this if an existing tag is being mapped to, not if a new tag is created, especially with default tokenName
                if (true) {
                    // Find out if the tag that was just mapped is one of the
                    // unmatched tag columns, as that should then be removed
                    $('.tag_inner.tag_unmatched').each(function(k,v) {
                        if ($(v).text().toString().toLowerCase() == tag.name.toLowerCase()) {
                            // Remove the column
                            OME.column_operation($(this), function(cell) { $(cell).remove(); });

                            // TODO As this column already exists we could grab
                            // the applied data from that column before
                            // deleting it instead of running the below ajax
                            // query
                            
                        }
                    });

                    // AJAX query to find out if this new tag is on the images
                    $.ajax({
                        type: "POST",
                        url: "{% url 'webtagging_get_tag_on_images' %}",
                        data: { image_ids: imageList, tag_id: tag.id },
                        dataType: "json",
                        success: function(imagesPresent) {
                            // Update state object to contain details of the new mapping's option's
                            for ( var imageId in imagesPresent) {
                                
                                var image = imageStates[imagesPresent[imageId]];
                                var token = image.tokens[tokenName];
                                // Add tags array if it doesn't exist
                                if ( !token.tags ) {
                                    token.tags = [] 
                                }
                                var tags = token.tags;
                                tags.push(tag.id);
                            } 
                            // Update the dropdown menu
                            $ul = $th.find("ul.dropdown-menu");
                            $li = $("<li></li>").append("<a class='tag-select' data-tagname='" + tag.name + "' data-tagid='" + tag.id + "' data-tagdesc='" + tag.desc + "' data-tagowner='" + tag.owner + "'>" + tag.name + "(" + tag.id + ")</a>");
                            $ul.prepend($li);

                            // Update the column
                            columnUpdate(tag.id, tag.name, tag.desc, tag.owner, tokenName, $th);
                        }
                    });
                } else {
                    // Update the dropdown menu
                    $ul = $th.find("ul.dropdown-menu");
                    $li = $("<li></li>").append("<a class='tag-select' data-tagname='" + tag.name + "' data-tagid='" + tag.id + "' data-tagdesc='" + tag.desc + "' data-tagowner='" + tag.owner + "'>" + tag.name + "(" + tag.id + ")</a>");
                    $ul.prepend($li);

                    // Update the column
                    columnUpdate(tag.id, tag.name, tag.desc, tag.owner, tokenName, $th);
                }
            },
            'new_tag_default':tokenName}
        );
        return false;
    });

    // Update the tag icon
    columnUpdate = function(tagId, tagName, tagDesc, tagOwner, tokenName, $th) {
        var $input = $th.has('input').children('input');
        var $icon = $th.find('.tag_inner');

        if (!tagId) {
            //Remove input
            $th.find('.tag-selector').remove();
            $icon.addClass('tagInactive');
            $icon.html('&nbsp;');

            // Remove tooltip
            $a = $th.find('.tag_inner');
            $a.tooltip( "disable" );
            $a.removeClass('.tooltip');
            $a.parent().children('.tooltip_html').remove();

        } else {
            //If the input field (and thus by inference the tag icon and tooltip) exists
            if($input.length > 0) {
                // If this is the same mapping as already exists, do nothing
                if ($input.val() == tokenName + '_' + tagId) {
                    // return here as the below update should not occur in this case (unless this is made into a 'refresh' type thing
                    return true;
                } else {
                    $input.val(tokenName + '_' + tagId);
                    //$icon.prop('href', '/webclient/usertags/?show=tag-' + tagId);
                    $icon.removeClass('tagInactive');
                    $icon.text(tagName);

                    // Update tooltip data and setup tooltip
                    $th.find('.tooltip_html').html('<b>ID:</b> ' + tagId + '<br><b>Description:</b> ' + tagDesc + '<br><b>Owner:</b> ' + tagOwner);
                }

            } else {
                // Add the input if it's missing
                $th.append('<input class="tag-selector" name="tag-selector" type="hidden" value="' + tokenName + '_' + tagId + '">');
                $icon.removeClass('tagInactive');
                $icon.text(tagName);

                // Update tooltip data and setup tooltip
                $a = $th.find('.tag_inner');
                $a.addClass('tooltip');
                $a.parent().append('<span class="tooltip_html" style="display:none;"><b>ID:</b> ' + tagId + '<br><b>Description:</b> ' + tagDesc + '<br><b>Owner:</b> ' + tagOwner + '</spam>');
                $a.parent().children(".tooltip_html").hide(); // hide tool tip source
                $a.tooltip({
                    bodyHandler: function() {
                            return $(this).parent().children(".tooltip_html").html();
                        },
                    track: true,
                    delay: 0,
                    showURL: false,
                    fixPNG: true,
                    showBody: " - ",
                    top: 10,
                    left: -100
                });
            }
        }
        mappingChangeUpdate(tagId, tokenName, $th);
    }

    // Click tag mapping in dropdown
    $("#updateAllForm").on("click", "a.tag-select", function(event){
        var $th = $(this).parents('th');
        var tokenName = $th.data('tokenname');
        var tagId = $(this).data('tagid');
        var tagName = $(this).data('tagname');
        var tagDesc = $(this).data('tagdesc');
        var tagOwner = $(this).data('tagowner');

        //Run update
        columnUpdate(tagId, tagName, tagDesc, tagOwner, tokenName, $th);
    });
    
    // On a change to the 'all' checkbox, update the imagechecked checkboxes appropriately
    $("#updateAllForm").on("change", ".imagechecked-all", function(){
        var check = false;
        if(this.checked) {
            check = true;
        }

        //TODO This operation is being executed for the th as well as all the tds, this
        // does not do any harm, but it accomplishes nothing.
        
        OME.column_operation($(this), function(cell) {
            $(cell).children('.imagechecked').prop('checked',check);
        });

    });

    //On a change of any checkbox, update the 'all' checkbox appropriately
    $("#updateAllForm").on("change", ".imagechecked", function(){
        var check = false;
        if(this.checked) {
            check = true;
        }

        // This can not be refactored into column_operation as
        // it is a series of checks followed by one operation
        // rather than a series of operations on each td in a
        // column.

        // Create variables holding all the td elements so that this can be used to calculate the index
        var $td = $(this).parents('tr').children('td');
        // Get the position of the td element in which the selector is
        var $tdUpdated = $(this).parents('td');
        var colIndex = $td.index( $tdUpdated );
        
        // Check the other tds in this column for fully-checked status
        if (check) {
            var $rows = $('#token-table > tbody > tr');
            $rows.each(function(i, v){
                // Get the checkbox which corresponds to the index 
                var $cb = $(v).children().eq(colIndex).children('.imagechecked');
                if (!$cb.prop('checked')) {
                    check = false;
                    return false;
                }
            });
            
        }

        var $th = $('#token-table > thead > tr > th');
        // Get the th which corresponds to the index of the td
        var $thChange = $th.eq(colIndex);
        $thChange.find('.imagechecked-all').prop('checked', check);
    });

    $('#hidePathTokensToggle').change(function(){
        
        if ($(this).prop('checked')) {
            $("#token-table").removeClass('hidePathTokens');
        } else {
            $("#token-table").addClass('hidePathTokens');
        }
    });

    $('#hideExtTokensToggle').change(function(){
        
        if ($(this).prop('checked')) {
            $("#token-table").removeClass('hideExtTokens');
        } else {
            $("#token-table").addClass('hideExtTokens');
        }
    });

    // Update the selections and checked states for a column
    mappingChangeUpdate = function(tagId, tokenName, $thUpdated){

        // Enable/Disable 'all' checkboxes
        if (tagId) {
            $thUpdated.find('.imagechecked-all').prop('disabled', false);
        } else {
            $thUpdated.find('.imagechecked-all').prop('disabled', true);
        }

        // This can not be refactored into column_operation as
        // it is a series of checks followed by some operations
        // rather than a series of operations on each td in a
        // column.

        // Create variables holding all the th elements so that this can be used to calculate the index
        var $th = $('#token-table > thead > tr > th');
        var $rows = $('#token-table > tbody > tr');
        // Get the position of the th element in which the selector is
        var colIndex = $th.index( $thUpdated );

        var allSelected = true;
        // For each row
        $rows.each(function(i, v){
            // Get the imageId from the tr
            var imageId = $(v).data('imageid');

            // Get the td which corresponds to the index of the th above
            var $td = $(this).children().eq(colIndex);

            // Remove all the background highlights
            $td.removeClass('success');
            // Remove any serverselected markers
            $td.children('.serverselected').remove();

            if (tagId) {

                // Query the JSON State object to determine if the new mapping should be marked selected or not for this image
                //var selectedValueSplit = selectedValue.split('_');
                //var tagId = selectedValueSplit[selectedValueSplit.length-1];
                //TODO Build token from all but the last element of the selectedValueSplit
                //var tokenName = selectedValueSplit[0];
                var image = imageStates[imageId];
                var token = image.tokens[tokenName];
                var tags = token.tags;


                // Enable the checkbox
                $td.children('.imagechecked').prop('disabled', false);

                // Check the list of tags for a match
                var found = false;
                if ( tags ) {
                    $.each(tags, function(k,v){
                        if (v == tagId) {
                            found = true;
                            return false;
                        }
                    });
                }
                // If a match was found, then add the hidden serverselected field
                if ( found ) {
                    $td.append('<input class="serverselected" name="serverselected" type="hidden" value="' + 'token_' + imageId + '_' + tokenName + '"/>');
                    $td.addClass('success');
                }

                // If a match was found or autoselect is set for this token, check the box
                if ( token.autoselect || found ) {
                    $td.children('.imagechecked').prop('checked', true);
                } else {
                    $td.children('.imagechecked').prop('checked', false);
                    allSelected = false;
                }

            } else {
                $td.children('.imagechecked').prop('disabled', true);
            }
        });

        // If the column is fully selected then select the all checkbox
        $thUpdated.find('.imagechecked-all').prop('checked', allSelected);

    }

    // Set up tooltip support
    $(".tooltip").parent().children(".tooltip_html").hide(); // hide tool tip source
    $(".tooltip").tooltip({
        bodyHandler: function() {
                return $(this).parent().children(".tooltip_html").html();
            },
        track: true,
        delay: 0,
        showURL: false,
        fixPNG: true,
        showBody: " - ",
        top: 10,
        left: -100
    });

    // Bootstrap doesn't need this the first time that bootstrap.js is loaded,
    // but is needed when we reload this plugin (and bootstrap.js is already cached)
    $(".dropdown-toggle").dropdown();

});

</script>

<form id="updateAllForm" action="{% url 'webtagging_process_update' %}" method="post">
    <div style="position:absolute; top:0px; left:0px; right:0px; height: 29px; border-right:0px" class="toolbar">
        Path: <input id="hidePathTokensToggle" name="hidePathTokensToggle" value="hidePathTokensToggle" type="checkbox" />
        Extensions: <input id="hideExtTokensToggle" name="hideExtTokensToggle" value="hideExtTokensToggle" type="checkbox" />
        <input type="submit" value="Apply" />
        <input type="button" id="refreshForm" value="Refresh" />
        Ignore First File Token: <input id="ignoreFirstFileToken" type="checkbox" {% if ignoreFirstFileToken %} checked{% endif %}/>
        Ignore Last File Token: <input id="ignoreLastFileToken" type="checkbox" {% if ignoreLastFileToken %} checked{% endif %}/>
    </div>
    <div style="position:absolute; bottom:25px; left:0px; top:29px; overflow:auto; margin-top:0px; right:0px">

            <table id="token-table" class="table table-bordered table-striped table-hover table-condensed hidePathTokens hideExtTokens">

            {% include "autotag/tag_table.html" %}

            </table>
    </div>
</form>
</html>
