<thead>
    <tr>
        {#TODO Condense these 3 sections into 1 as they are very similar #}

        {% for tokenTag in tokenTags.pathTokens %}
            <th class="pathTokens" data-tokenname="{{ tokenTag.name }}">
                <a class="token" href="">{{ tokenTag.name }}</a>
            </th>
        {% endfor %}

        {% for tokenTag in tokenTags.fileTokens %}
            <th class="fileTokens" data-tokenname="{{ tokenTag.name }}">

            {{ tokenTag.name }}

            <div>
                {# In the case when there is exactly one tag associated with a token #}
                {% ifequal tokenTag.tags|length 1 %}
                    <input name="tag-selector" type="hidden" value="{{ tokenTag.name }}_{{ tokenTag.tags.0.id }}"/>
                    
                    <span class="tag_annotation_wrapper" id="tag_ann-80">
                        <div class="tag">
                            <a class="tooltip tag_inner" href="/webclient/usertags/?show=tag-{{ tokenTag.tags.0.id }}" target="_top">{{ tokenTag.tags.0.name }}</a>
                            <span class="tooltip_html" style="display: none;">
                                <b>Owner:</b> Douglas Russell<br>
                                <b>Linked by:</b> Douglas Russell<br>
                                <b>On:</b> 2013-08-22 23:19:34<br>
                                <b>Description:</b> 
                            </span>
                        </div>
                    </span>
                    
                {% endifequal %}

                <span class="title_dropdown_button" style="position: relative">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% if tokenTag.tags %}
                            {% for tag in tokenTag.tags %}
                                <li><a class="tag-select" data-tagname="{{ tag.name }}" data-tagid="{{ tag.id }}">{{ tag.name }}({{ tag.id }})</a></li>
                            {% endfor %}
                        {% endif %}
                        <li class="divider"></li>
                        <li><a class="token-map">New/Existing Tag</a></li>
                    </ul>
                </span>
            </div>

            </th>
        {% endfor %}

        {% for tokenTag in tokenTags.extTokens %}
            <th class="extTokens" data-tokenname="{{ tokenTag.name }}">
                <a class="token" href="">{{ tokenTag.name }}</a>
            </th>
        {% endfor %}

        <th>Image Name</th>
    </tr>
</thead>

<tbody>
    {% for imageDetail in imageDetails %}
        <tr id="image_{{ imageDetail.id }}" data-imageid="{{ imageDetail.id }}">
            {% for imageToken in imageDetail.tokens %}
                {# Display special case background color for server selected tokens #}
                <td class="{{ imageToken.tokenType }} token_{{ imageToken.name }}{% if imageToken.selected %} success{% endif %}">

                {% if imageToken.autoselect or imageToken.selected %}
                    <input class="imagechecked" name="imagechecked" value="{{ imageDetail.id }}_{{ imageToken.name }}" type="checkbox" checked />
                {% else %}
                    <input class="imagechecked" name="imagechecked" value="{{ imageDetail.id }}_{{ imageToken.name }}" type="checkbox" />
                {% endif %}

                {# Create a hidden field to indicate that for the current mapping, this image is tagged server side #}
                {% if imageToken.selected %}
                    <input class="serverselected" name="serverselected" type="hidden" value="{{ imageDetail.id }}_{{ imageToken.name }}"/>
                {% endif %}
                </td>
            {% endfor %}
            <td>
                {{ imageDetail.name }} ({{ imageDetail.id }})
                <!--<input name="image" type="hidden" value="{{ imageDetail.id }}" />-->
            </td>
        </tr>
    {% endfor %}
</tbody>
