<thead>
    <tr>
        {#TODO Condense these 3 sections into 1 as they are very similar #}

        {% for tokenTag in tokenTags.pathTokens %}
            <th class="pathTokens">
                {% if tokenTag.tags %}
                    <select class="tag-selector" name="tokentag" id="token_{{ tokenTag.name }}">
                        {% comment %}
                            TODO Should have a list of matching tags available here
                            If there are 0 matching, select nothing 
                            If there is 1 matching, selected it
                            If there are more than 1 matching, but 0 selected then select nothing
                            If there are more than 1 matching and 1 selected, select it??
                            If there are more than 1 matching and more than 1 selected, select nothing??
                        {% endcomment %}

                            {% for tag in tokenTag.tags %}
                                <option value="{{ tokenTag.name }}_{{ tag.id }}">{{ tag.name }}({{ tag.id }})</option>
                            {% endfor %}
                            <option/>
                            {#TODO The option fires up the same context as creating a new tag to allow overriding a match with a new tag/map #}
                            <option>Remap</option>
                    </select>
                {% else %}
                {# Link to create a new tag of this name or map this token (temporarily) to an existing tag #}
                <a class="token" href="">{{ tokenTag.name }}</a>
                {% endif %}
            </th>
        {% endfor %}

        {% for tokenTag in tokenTags.fileTokens %}
            <th class="fileTokens">
                {% if tokenTag.tags %}
                    <select class="tag-selector" name="tokentag" id="token_{{ tokenTag.name }}">
                        {% comment %}
                            TODO Should have a list of matching tags available here
                            If there are 0 matching, select nothing 
                            If there is 1 matching, selected it
                            If there are more than 1 matching, but 0 selected then select nothing
                            If there are more than 1 matching and 1 selected, select it??
                            If there are more than 1 matching and more than 1 selected, select nothing??
                        {% endcomment %}

                            <option value=""></option>
                            {% for tag in tokenTag.tags %}
                                <option value="{{ tokenTag.name }}_{{ tag.id }}"{% ifequal tokenTag.tags|length 1 %} selected{% endifequal %}>{{ tag.name }}({{ tag.id }})</option>
                            {% endfor %}
                            {#TODO The option fires up the same context as creating a new tag to allow overriding a match with a new tag/map #}
                            <option>Remap</option>
                    </select>
                {% else %}
                {# Link to create a new tag of this name or map this token (temporarily) to an existing tag #}
                <a class="token" href="">{{ tokenTag.name }}</a>
                {% endif %}
            </th>
        {% endfor %}

        {% for tokenTag in tokenTags.extTokens %}
            <th class="extTokens">
                {% if tokenTag.tags %}
                    <select class="tag-selector" name="tokentag" id="token_{{ tokenTag.name }}">
                        {% comment %}
                            TODO Should have a list of matching tags available here
                            If there are 0 matching, select nothing 
                            If there is 1 matching, selected it
                            If there are more than 1 matching, but 0 selected then select nothing
                            If there are more than 1 matching and 1 selected, select it??
                            If there are more than 1 matching and more than 1 selected, select nothing??
                        {% endcomment %}

                            {% for tag in tokenTag.tags %}
                                <option value="{{ tokenTag.name }}_{{ tag.id }}">{{ tag.name }}({{ tag.id }})</option>
                            {% endfor %}
                            {#TODO The option fires up the same context as creating a new tag to allow overriding a match with a new tag/map #}
                            <option>Remap</option>
                    </select>
                {% else %}
                {# Link to create a new tag of this name or map this token (temporarily) to an existing tag #}
                <a class="token" href="">{{ tokenTag.name }}</a>
                {% endif %}
            </th>
        {% endfor %}

        <th>Image Name</th>
    </tr>
</thead>

<tbody>
    {% for imageDetail in imageDetails %}
        <tr id="image_{{ imageDetail.id }}">
            {% for imageToken in imageDetail.tokens %}
                {# Display special case background color for server selected tokens #}
                <td class="{{ imageToken.tokenType }} token_{{ imageToken.name }}{% if imageToken.selected %} success{% endif %}">

                {% if imageToken.autoselect or imageToken.selected %}
                    <input class="imagechecked" name="imagechecked" value="{{ imageDetail.id }}_{{ imageToken.name }}" type="checkbox" checked />
                {% else %}
                    <input class="imagechecked" name="imagechecked" value="{{ imageDetail.id }}_{{ imageToken.name }}" type="checkbox" />
                {% endif %}

                {# Create hidden fields for the tags which are already on the image #}
                {% if imageToken.tags %}
                    {% for tag in imageToken.tags %}
                        <input class="serverselected" name="serverselected" type="hidden" value="{{ imageDetail.id }}_{{ imageToken.name }}_{{ tag }}" />
                    {% endfor %}
                {% endif %}
                </td>
            {% endfor %}
            <td>
                {{ imageDetail.name }} ({{ imageDetail.id }})
                <input name="image" type="hidden" value="{{ imageDetail.id }}" />
            </td>
        </tr>
    {% endfor %}
</tbody>
