<html>

<link rel="stylesheet" type="text/css" href="{% static 'webtagging/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'webtagging/css/webtagging.css' %}" />

<script>window.jQuery || document.write('<script src="/static/3rdparty/jquery-1.7.2.js"><\/script><script src="{% static "webclient/javascript/jquery.form.js" %}"><\/script>')</script>

<link rel="stylesheet" href="{% static '3rdparty/jquery.chosen/chosen.css' %}" type="text/css" media="screen"/>
<script src="{% static '3rdparty/jquery.chosen/chosen.jquery.js' %}"></script>
<script src="{% static 'webtagging/js/show_tags_dialog.js' %}"></script>

<script>
$(function(){

    var $submitButton = $("#updateAllForm input[type='submit']");

    // Our table form is 'ajax' - whole table content is updated from form submission
    $("#updateAllForm").ajaxForm({
        beforeSubmit: function() {
            // prevent submitting the form again while waiting
            $submitButton.attr('disabled', true);
        },
        success: function(data) {
            // Simply replace the table content with the returned html
            $("#updateAllForm>table").html(data);
            $submitButton.removeAttr('disabled');
        }
    });

    // Example how to use tags dialog
    // OME.show_tags_dialog(
    //     "{% url webtagging_list_tags %}",
    //     function(tags){
    //         console.log(tags);
    //     },
    //     {'new_tag_default':"MyNewTag"}
    // );

    $("#updateAllForm").on("click", "a.token", function(event){
        var $tokenLink = $(this),
            tokenText = $tokenLink.text(),
            $th = $tokenLink.parent();
        OME.show_tags_dialog({
            list_tags: "{% url webtagging_list_tags %}",
            create_tag: "{% url webtagging_create_tag %}",
            success: function(tags){
                console.log(tags);
                var tag = tags[0];
                $select = $("<select name='tokentag'></select>")
                    .append("<option value='" + tag.name + "_" + tag.id +"'>" + tag.name + "(" + tag.id + ")</option>");
                $th.empty().append($select);
            },
            'new_tag_default':tokenText}
        );
        return false;
    });

    $('#hidePathTokensToggle').change(function(){
        
        if ($(this).prop('checked')) {
            $("#token-table").removeClass('hidePathTokens');
        } else {
            $("#token-table").addClass('hidePathTokens');
        }
    });

    $('#hideExtTokensToggle').change(function(){
        
        if ($(this).prop('checked')) {
            $("#token-table").removeClass('hideExtTokens');
        } else {
            $("#token-table").addClass('hideExtTokens');
        }
    });

});
/*
function toggleColumn(n) {
    var currentClass = $document.getElementById("mytable").className;
    if (currentClass.indexOf("show"+n) != -1) {
        document.getElementById("mytable").className = currentClass.replace("show"+n, "");
    }
    else {
        document.getElementById("mytable").className += " " + "show"+n;
    }
}
*/
</script>

<div style="position:absolute; top:0px; left:0px; right:0px; height: 29px; border-right:0px" class="toolbar">
    Path: <input id="hidePathTokensToggle" name="hidePathTokensToggle" value="hidePathTokensToggle" type="checkbox" />
    Extensions: <input id="hideExtTokensToggle" name="hideExtTokensToggle" value="hideExtTokensToggle" type="checkbox" />
</div>
<div style="position:absolute; bottom:25px; left:0px; top:29px; overflow:auto; margin-top:0px; right:0px">
    <form id="updateAllForm" action="{% url webtagging_process_update %}" method="post">

        <table id="token-table" class="table table-bordered table-striped table-hover table-condensed hidePathTokens hideExtTokens">

        {% include "webtagging/tag_table.html" %}

        </table>
        <input type="submit" value="Apply" />
    </form>
</div>
</html>
