<html>

<link rel="stylesheet" type="text/css" href="{% static 'webtagging/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'webtagging/css/webtagging.css' %}" />

<!--<script>window.jQuery || document.write('<script src="/static/3rdparty/jquery-1.7.2.js"><\/script><script src="{% static "webclient/javascript/jquery.form.js" %}"><\/script>')</script>-->
<!-- Diagnostics -->
<script>window.jQuery || document.write('<script src="/static/3rdparty/jquery-1.7.2.js"><\/script><script src="{% static "webclient/javascript/jquery.form.js" %}"><\/script><script src="{% static "3rdparty/jquery-ui-1.8.19/jquery-ui-1.8.19.custom.min.js" %}"><\/script>')</script>
<head>
    <link rel="stylesheet" href="{% static "webgateway/css/reset.css" %}" type="text/css" />   
    <link rel="stylesheet" href="{% static "webgateway/css/ome.body.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "webclient/css/dusty.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "webgateway/css/ome.header.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "webclient/css/layout.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "3rdparty/jquery-ui-1.8.19/themes/base/jquery.ui.base.css" %}" type="text/css" />
</head>
<!-- End Diagnostics -->

<link rel="stylesheet" href="{% static '3rdparty/jquery.chosen/chosen.css' %}" type="text/css" media="screen"/>
<script src="{% static 'webtagging/3rd-party/bootstrap/bootstrap.js' %}"></script>
<script src="{% static '3rdparty/jquery.chosen/chosen.jquery.js' %}"></script>
<script src="{% static 'webtagging/js/show_tags_dialog.js' %}"></script>
<!-- In various places I could rely only on an HTML5 data- field, but testing shows that jQuery selection based on data field is much slower than class based (especially on IE)-->

<script>
$(function(){

    // Parse state object
    imageStates = {{ imageStates|safe }}
    console.log(imageStates);
    var $submitButton = $("#updateAllForm input[type='submit']");

    // Our table form is 'ajax' - whole table content is updated from form submission
    $("#updateAllForm").ajaxForm({
        beforeSubmit: function() {
            // prevent submitting the form again while waiting
            $submitButton.attr('disabled', true);
        },
        dataType: "json",
        success: function(data) {


            // For each update, find the cell and update it's selected status
            for (var i in data.additions) {
                var imageId = data.additions[i][0];
                var tagId = data.additions[i][1];
                var tokenName = data.additions[i][2];
                $td = $('tr#image_' + imageId + ' .token_' + tokenName);
                $td.addClass('success');
                $td.append('<input class="serverselected" name="serverselected" type="hidden" value="' + imageId + '_' + tokenName + '"/>');

                // Get the tags from state and update
                var image = imageStates[imageId];
                var token = image.tokens[tokenName];
                var tags = [];
                if (token.tags) {
                    tags = token.tags;
                }
                tags.push(tagId);
                token.tags = tags;
            }

            for (var i in data.removals) {
                var imageId = data.removals[i][0];
                var tagId = data.removals[i][1];
                var tokenName = data.removals[i][2];
                $td = $('tr#image_' + imageId + ' .token_' + tokenName);
                $td.removeClass('success');
                $td.children('.serverselected').remove();

                // Get the tags from state and update
                var image = imageStates[imageId];
                var token = image.tokens[tokenName];
                var tags = token.tags;

                // Check the list of tags for a match
                if ( tags ) {
                    $.each(tags, function(k,v){
                        if (v == tagId) {
                            tags.splice(k,1);
                            return false;
                        }
                    });
                }
                
            }
  
            $submitButton.removeAttr('disabled');
        }
    });

    // Example how to use tags dialog
    // OME.show_tags_dialog(
    //     "{% url webtagging_list_tags %}",
    //     function(tags){
    //         console.log(tags);
    //     },
    //     {'new_tag_default':"MyNewTag"}
    // );

    $("#updateAllForm").on("click", "a.token", function(event){
        var $tokenLink = $(this);
        var $th = $tokenLink.parent();
        var tokenName = $th.data('tokenname');

        OME.show_tags_dialog({
            list_tags: "{% url webtagging_list_tags %}",
            create_tag: "{% url webtagging_create_tag %}",
            success: function(tags){
                var tag = tags[0];
                
                // Make list of images
                imageList = [];
                for ( var imageId in imageStates ) {
                    // Ensure the key is an actual property, not part of the prototype
                    if (imageStates.hasOwnProperty(imageId)) {
                        imageList.push(imageId);
                    }
                }

                //TODO Only call this if an existing tag is being mapped to, not if a new tag is created, especially with default tokenName
                // AJAX query to find out if this new tag is on the images
                $.ajax({
                    type: "POST",
                    url: "{% url webtagging_get_tag_on_images %}",
                    data: { image_ids: imageList, tag_id: tag.id },
                    dataType: "json",
                    success: function(imagesPresent) {
                        // Update state object to contain details of the new mapping's option's
                        for ( var imageId in imagesPresent) {
                            
                            var image = imageStates[imagesPresent[imageId]];
                            var token = image.tokens[tokenName];
                            // Add tags array if it doesn't exist
                            if ( !token.tags ) {
                                token.tags = [] 
                            }
                            var tags = token.tags;
                            tags.push(tag.id);
                            // Update checked and selected status
                            mappingChangeUpdate(tokenName + '_' + tag.id, $th);
                        } 
                    }
                });
                
            // Updates to the selection box
            $select = $("<select class='tag-selector' name='tokentag'></select>").append("<option value=''></option><option value='" + tokenName + "_" + tag.id +"' selected >" + tag.name + "(" + tag.id + ")</option>");
            $th.empty().append($select);

            },
            'new_tag_default':tokenName}
        );
        return false;
    });

    // Click tag mapping in dropdown
    $("#updateAllForm").on("click", "a.tag-select", function(event){
        var $th = $(this).parents('th');
        var tokenName = $th.data('tokenname');
        var tagId = $(this).data('tagid');
        var tagName = $(this).data('tagname');

        var $input = $th.has('input').children('input');
        if($input.length > 0) {
            // If this the same mapping as already exists, do nothing
            if ($input.val() == tokenName + '_' + tagId) {
                // return here as the below update should not occur in this case (unless this is made into a 'refresh' type thing
                return true;
            } else {
                var $tagInner = $th.find('.tag_inner');
                $tagInner.prop('href', '/webclient/usertags/?show=tag-' + tagId);
                $tagInner.val(tagName);
                
            }
        } else {
            // Add the input if it's missing
            $th.append('<input name="tag-selector" type="hidden" value="' + tokenName + '_' + tagId + '">');
            var $tag = $('<div class="tag"></div>').append('<a class="tooltip tag_inner" href="/webclient/usertags/?show=tag-' + tagId + '" target="_top">' + tagName + '</a>');
            $th.prepend($tag);
        }

        //Run update
        mappingChangeUpdate(tokenName + '_' + tagId, $th);
    });
    

    $('#hidePathTokensToggle').change(function(){
        
        if ($(this).prop('checked')) {
            $("#token-table").removeClass('hidePathTokens');
        } else {
            $("#token-table").addClass('hidePathTokens');
        }
    });

    $('#hideExtTokensToggle').change(function(){
        
        if ($(this).prop('checked')) {
            $("#token-table").removeClass('hideExtTokens');
        } else {
            $("#token-table").addClass('hideExtTokens');
        }
    });

    // Update the selections and checked states for a column
    mappingChangeUpdate = function(selectedValue, $thUpdated){
        // Create variables holding all the th elements so that this can be used to calculate the index
        var $th = $('#token-table > thead > tr > th');
        var $rows = $('#token-table > tbody > tr');

        // Get the position of the th element in which the selector is
        var colIndex = $th.index( $thUpdated );

        // For each row
        $rows.each(function(i, v){
            // Get the imageId from the tr
            var imageId = $(v).data('imageid');

            // Get the td which corresponds to the index of the th above
            var $td = $(this).children().eq(colIndex);

            // Remove all the background highlights
            $td.removeClass('success');
            // Remove any serverselected markers
            $td.children('.serverselected').remove();

            if (selectedValue != '') {

                // Query the JSON State object to determine if the new mapping should be marked selected or not for this image
                var selectedValueSplit = selectedValue.split('_');
                var tagId = selectedValueSplit[selectedValueSplit.length-1];
                //TODO Build token from all but the last element of the selectedValueSplit
                var tokenName = selectedValueSplit[0];
                var image = imageStates[imageId];
                var token = image.tokens[tokenName];
                var tags = token.tags;

                // Check the list of tags for a match
                var found = false;
                if ( tags ) {
                    $.each(tags, function(k,v){
                        if (v == tagId) {
                            found = true;
                            return false;
                        }
                    });
                }
                // If a match was found, then add the hidden serverselected field
                if ( found ) {
                    $td.append('<input class="serverselected" name="serverselected" type="hidden" value="' + imageId + '_' + tokenName + '"/>');
                    $td.addClass('success');
                }

                // If a match was found or autoselect is set for this token, check the box
                if ( token.autoselect || found ) {
                    $td.children('.imagechecked').prop('checked', true);
                } else {
                    $td.children('.imagechecked').prop('checked', false);
                }

            }
        });
/*
        // Update the tag icon
        if (selectedValue != '') {
            var selectedValueSplit = selectedValue.split('_');
            var tagId = selectedValueSplit[selectedValueSplit.length-1];
            //TODO Build token from all but the last element of the selectedValueSplit
            var tokenName = selectedValueSplit[0];

        }
*/
    }
    $("#updateAllForm").on("change", ".tag-selector", function(event){
        // Get the name of the selected item so appropriate hidden field can be selected
        var selectedValue = $(this).val();
        mappingChangeUpdate(selectedValue, $(this).parent());
    });

    // Bootstrap doesn't need this the first time that bootstrap.js is loaded,
    // but is needed when we reload this plugin (and bootstrap.js is already cached)
    $(".dropdown-toggle").dropdown();

});

</script>

<div style="position:absolute; top:0px; left:0px; right:0px; height: 29px; border-right:0px" class="toolbar">
    Path: <input id="hidePathTokensToggle" name="hidePathTokensToggle" value="hidePathTokensToggle" type="checkbox" />
    Extensions: <input id="hideExtTokensToggle" name="hideExtTokensToggle" value="hideExtTokensToggle" type="checkbox" />
</div>
<div style="position:absolute; bottom:25px; left:0px; top:29px; overflow:auto; margin-top:0px; right:0px">
    <form id="updateAllForm" action="{% url webtagging_process_update %}" method="post">

        <table id="token-table" class="table table-bordered table-striped table-hover table-condensed hidePathTokens hideExtTokens">

        {% include "webtagging/tag_table.html" %}

        </table>
        <input type="submit" value="Apply" />
    </form>
</div>
</html>
